/* === Google Font Import - Poppins === */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Variables */
:root {
  --main-color: #ffffff;
  --secondary-color: #000000;
  --border-radius: 6px;
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --dark-color: #111827;
  --dark-violet-color: #a78bfa;
  --light-violet-color: #7d2ae8;
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

/* Global Rules */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo";
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
  display: inline-block;
}
/* Media */

/* Small Screens */

/* @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  } */

/* Medium Screens */

/* @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  } */

/* Large Screens */

/* @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  } */

/* Components */
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 70px;
  margin-top: 70px;
  text-transform: uppercase;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #333;
  bottom: -30px;
  width: 120px;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #333;
  bottom: -38px;
  background-color: white;
}
.main-heading p {
  width: 550px;
  margin: 0 auto 35px;
  max-width: 100%;
  color: #777;
}
/*  Navigation bar */
.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid var(--secondary-color);
}
.nav h1 a {
  letter-spacing: 1px;
}
.nav .logo img {
  width: 100px;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}
.nav ul li a {
  padding: 10px 15px;
  border: 2px solid var(--secondary-color);
  border-radius: var(--border-radius);
  transition: 0.6s;
}
.nav ul li a:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);
}
.label {
  text-align: center;
  font-size: 30px;
  margin: 30px;
}
/* Content */
.career {
  width: 750px;
  padding: 20px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.career img {
  width: 150px;
}
.worker,
.customer {
  border: 2px solid var(--dark-color);
  border-radius: var(--border-radius);
  width: 300px;
  height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 0.6s;
  box-shadow: 0px 30px 40px -20px var(--dark-color);
  /* background-color: var(--dark-color);
  color: #f2f2f2; */
}
.worker:hover,
.customer:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0px 30px 40px -20px var(--dark-color);
}
.card-title {
  font-weight: bold;
  font-size: 20px;
}
.worker a:hover,
.customer a:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);
}
/* END Content */
