/* === Google Font Import - Poppins === */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Variables */
:root {
  --main-color: #ffffff;
  --secondary-color: #000000;
  --border-radius: 6px;
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --dark-color: #111827;
  --dark-violet-color: #a78bfa;
  --light-violet-color: #7d2ae8;
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

/* Global Rules */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo";
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
  display: inline-block;
}
/* Media */

/* Small Screens */

/* @media (min-width: 768px) {
  .container {
    width: 750px;
  }
} */

/* Medium Screens */

/* @media (min-width: 992px) {
  .container {
    width: 970px;
  }
} */

/* Large Screens */

/* @media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
} */

/* Components */
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 70px;
  margin-top: 70px;
  text-transform: uppercase;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #333;
  bottom: -30px;
  width: 120px;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #333;
  bottom: -38px;
  background-color: white;
}
.main-heading p {
  width: 550px;
  margin: 0 auto 35px;
  max-width: 100%;
  color: #777;
}
/*  Navigation bar */
.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid var(--secondary-color);
}
.nav h1 a {
  letter-spacing: 1px;
  transition: 0.6s;
}
.nav h1 a:hover {
  transform: scale(1.1);
}
.nav .logo img {
  width: 100px;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}
.nav ul li a {
  padding: 10px 15px;
  border: 2px solid var(--secondary-color);
  border-radius: var(--border-radius);
  transition: 0.6s;
}
.nav ul li a:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);
}

/* Payment */
.payment {
  width: 100%;
  margin-top: 50px;
  color: #f2f2ff;
}
.payment-title {
  color: var(--dark-color);
  margin: 30px;
  text-align: center;
}
.payment-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.payment-container form {
  width: 700px;
  padding: 20px 0;
  background-color: var(--dark-color);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
}
.payment-container form .row {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.payment-container form .row .col {
  width: 40%;
}
.col .title {
  color: var(--dark-violet-color);
}
.col .inputBox {
  margin: 15px 0;
}
.col .inputBox label {
  display: block;
  margin-bottom: 10px;
}
.col .inputBox input {
  width: 250px;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.col .inputBox input:focus,
.col .inputBox select:focus {
  border: none;
  outline: none;
}
.payment-container form .submit_btn {
  width: 100%;
  margin-top: 20px;
  padding: 15px;
  font-weight: 500;
  background-color: var(--dark-violet-color);
  color: var(--dark-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: 0.4s;
}

.payment-container form .submit_btn:hover {
  color: #f2f2ff;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  display: none;
}
