/* Variables */
:root {
  --main-color: #ffffff;
  --main2-color: #364241;
  --secondary-color: #000000;
  --border-radius: 6px;
  --hover-color: #fab69b;
  --page-color: rgba(218, 164, 64, 0.575);
  --service-color: #bb7154;
  --dark-color: #111827;
  --dark-violet-color: #a78bfa;
  --light-violet-color: #7d2ae8;
}
body {
  font-family: "Cairo", sans-serif;
  line-height: 1.5;
}

/* Global Rules */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
  display: inline-block;
}
/* Media */

/* Small Screens */

/* @media (min-width: 768px) {
  .container {
    width: 750px;
  }
} */

/* Medium Screens */

/* @media (min-width: 992px) {
  .container {
    width: 970px;
  }
} */

/* Large Screens */

/* @media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
} */

/* Components */
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 70px;
  margin-top: 70px;
  text-transform: uppercase;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #333;
  bottom: -30px;
  width: 120px;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #333;
  bottom: -38px;
  background-color: white;
}
.main-heading p {
  width: 550px;
  margin: 0 auto 35px;
  max-width: 100%;
  color: #777;
}
/*  Navigation bar */
.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid var(--secondary-color);
}
.nav h1 a {
  letter-spacing: 1px;
  transition: 0.6s;
}
.nav .logo img {
  width: 100px;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 230px;
}
.nav ul li a {
  padding: 10px 15px;
  border: 2px solid var(--secondary-color);
  border-radius: var(--border-radius);
  transition: 0.6s;
}
.nav ul li a:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);
}
/* Intro */
.intro {
  background-color: lightgray;
  padding: 20px;
  /* margin-top: 50px; */
  /* margin-bottom: 50px; */
  background-color: #111827;
  color: #f2f2f2;
}
.intro .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.text-container {
  width: 40%;
}
.text-container h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}
.text-container p {
  font-size: 20px;
  line-height: 2;
}
.image-container {
  width: 50%;
}
.image-container img {
  width: 49.5%;
  border-radius: var(--border-radius);
}

/* END Intro */

/* Filter */
.filter-title {
  margin: 10px auto;
  color: var(--dark-color);
  border-bottom: 3px solid var(--dark-violet-color);
  width: fit-content;
}
.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 70px;
}
.filter .service-filter {
  margin: 10px;
  padding: 10px;
  background-color: var(--dark-color);
  border: 2px solid #f2f2f2;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: 0.6s;
}
.filter .service-filter a {
  transition: 0.6s;
  color: #f2f2f2;
}
.filter .service-filter:hover a {
  color: var(--dark-violet-color);
  /* color: #f2f2f2; */
}

/* END Filter */

/* Service section styles */
.whole-services {
  background-color: var(--dark-color);
}
.service-container {
  background-color: var(--dark-color);
  display: flex;
  justify-content: space-around;
  color: #f2f2f2;
  padding: 25px 0;
  margin-bottom: 100px;
}
.service-container .service {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #f2f2f2;
}
.service-container .service h2,
.service-container .service p {
  color: var(--main-color);
  text-align: center;
  font-size: 24px;
}
.service-container .service p {
  margin-top: 10px;
  font-size: 20px;
}
.service-container .service img {
  width: 60%;
  border-radius: var(--border-radius);
  margin-bottom: 10px;
}
.service-container .workers {
  width: 45%;
}
.workers .workers-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.service-container .workers > h2 {
  text-align: center;
  margin-bottom: 25px;
}
/* ************* */
.worker-card {
  background-color: var(--dark-violet-color);
  /* width: 300px; */
  border-radius: var(--border-radius);
  transition: 0.3s;
}
.worker-card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px 0 var(--dark-violet-color);
}
.worker-card .container {
  padding: 2px 16px;
  color: var(--dark-color);
}
.worker-card .img-container {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: var(--border-radius);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.worker-card .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.worker-card .container .card-title {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0;
}
.worker-card .container .worker-rating {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.worker-card .container .worker-rating i {
  color: #ffc107;
  margin-right: 5px;
}
.worker-card .container .price {
  font-size: 20px;
  font-weight: bold;
}
.worker-card .container .profile-link {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
}
.worker-card .container .profile-link .order-button {
  padding: 10px 25px;
  border: 2px solid var(--secondary-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: 0.4s;
  background-color: var(--dark-color);
  color: #f2f2f2;
}
.worker-card .container .profile-link .order-button:hover {
  color: var(--dark-violet-color);
  background-color: var(--dark-color);
}
/* Back To Top */
#myBtn {
  display: none;
  position: fixed;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  z-index: 99;
  border: 2px solid var(--dark-color);
  outline: none;
  background-color: var(--dark-violet-color);
  color: var(--dark-color);
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#myBtn i {
  position: relative;
  transition: 0.4s;
}
#myBtn:hover i {
  bottom: 2px;
}
/* END Back To Top */

/* Footer */
footer {
  /* background-image: url("/images/Zfooterjpg.jpg"); */
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom; */
  background-color: var(--dark-color);
  color: #f2f2f2;
  /* text-align: center; */
  margin-top: 50px;
}
footer .container {
  margin: 0 auto;
  transition: 0.9s;
  text-align: center;
}
footer .container img {
  width: 150px;
  height: 150px;
  text-align: center;
  margin-top: 20px;
}
footer .container > p {
  color: #f2f2f2;
}
footer .container .social-icons {
  font-size: 20px;
  margin-top: 20px;
}
footer .container .social-icons i {
  cursor: pointer;
  padding: 10px 15px;
  transition: 0.6s;
}
.fa-linkedin:hover {
  color: #0a66c2;
}
.fa-facebook-f:hover {
  color: #0165e1;
}
.fa-instagram:hover {
  color: #e1306c;
}
.fa-x-twitter:hover {
  color: #000000;
}
.policy {
  margin: 50px auto;
}
.policy a {
  color: var(--dark-violet-color);
}
.policy .pol {
  margin-left: 30px;
}
.ter:hover,
.pol:hover {
  text-decoration: underline;
}
footer p:not(.copyright) {
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid var(--main-color);
  font-size: 22px;
  width: fit-content;
  margin: 20px auto;
}
footer .copyright {
  padding: 20px 0;
  color: #f2f2f2;
  text-align: center;
}
footer .copyright a {
  font-weight: bold;
  color: var(--dark-violet-color);
  cursor: pointer;
}

/* END Footer */
